
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<body style="padding-left: 20px">
    <div><h1 style="text-align:center">Danh sách tài khoản</h1></div>
    <div><input class="btn btn-primary" type="button" name="btnThemTK" value="Thêm mới tài khoản"></input></div>
    <div class="input-group">
        <input class="form-control" type="text" placeholder="Nhập tài khoản cần tìm kiếm..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
    </div>
    <div>Bảng danh sách tài khoản</div>
</body>

 
