@model QuanLyNhanSu.Models.ResetPasswordViewModel

<h2>Xác nhận đổi mật khẩu</h2>

@*@using (Html.BeginForm("Confirm", "ForgotPassword", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmationCode, new { @class = "col-md-2 control-label" })
        <div class="col-md*@


