
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<h2 class="headerh2">Quên mật khẩu</h2>
@using (Html.BeginForm("ForgotPassword", "LoginNhanVien", FormMethod.Post))
{
    <table class="m-auto">
        <tbody>
            <tr>
                <th>
                    <label for="">Email</label>
                </th>
                <td>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Nhập vào Email của bạn..." required/>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>@Html.Raw(ViewBag.Error)</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex  justify-content-around pt-4">
        <input type="submit" value="Gửi" class="btn btn-success" />
    </div>
}



